{% extends "base_private.html.twig" %}

{% block title %}Student Sessions{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1>{{ student.getName | e }}</h1>
    <hr>
</div>

<div class="row">
  <h3>Scheduled Sessions:</h3>
  <hr>

    {% if services is not empty %}
    <div class="well">
    <table class="table">
      <tr>
        <th>date_of_service</th>
        <th>teacher</th>
        <th>attendance</th>
        <th>price</th>
        <th>discount</th>
        <th>description</th>
        <th>paid_for</th>
        <th>duration</th>
        <th>recurrence</th>
        <th>notes</th>
      </tr>
      {% for service in services %}
          <tr>
            <td>{{ service.getDateOfService | e }}</td>
            <td>{{ service.getTeachers[0].getName | e }}</td>
            <td>{{ service.getAttendance | e }}</td>
            <td>{{ service.getPrice | e }}</td>
            <td>{{ service.getDiscount | e }}</td>
            <td>{{ service.getDescription | e }}</td>
            <td>{{ service.getPaidFor | e }}</td>
            <td>{{ service.getDuration | e }}</td>
            <td>{{ service.getRecurrence | e }}</td>
            <td>{{ service.getNotes | e }}</td>
          </tr>
      {% endfor %}
    </table>
    </div>
    <!-- well   -->
    {% endif %}

</div>
<!-- row     -->

    {% endblock %}
