{% extends "base_private.html.twig" %}

{% block title %}Course{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1>{{ course.getTitle }} </h1>
</div>
<div class="row">
    <div class="col-sm-4">
    {% if courses is not empty %}
        <form class="form-control" action="/owner_courses/redirect" method="post">
            <select name="course_select" onchange="this.form.submit();">
                <option disabled selected value>Choose a course</option>
                {% for course_select in courses %}
                    <option value="{{course_select.getId}}"> {{course_select.getTitle}}</option>
                {% endfor %}
            </select>
        </form>
        {% if lessons is not empty %}
        <ul>
            {% for lesson in lessons  %}
            <li>
                <a href="/owner_lesson/{{lesson.getId}}">{{lesson.getTitle}}</a>
                <form action="/owner_lesson/{{lesson.getId}}/delete" method="post">
                    <input name="_method" type="hidden" value="delete">
                    <input type="hidden" name="course_id" value="{{course.getId}}">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#update_lesson_{{lesson.getId}}">Update</button>
                    <button type="submit" class="btn btn-danger btn-sm" name="button">Delete</button>
                </form>
            </li>
            <!-- Update Modal -->
            <div id="update_lesson_{{lesson.getId}}" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                  <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Update Lesson: {{lesson.getTitle}}</h4>
                        </div>
                        <form action="/owner_lesson/{{lesson.getId}}/update" method="post">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label for="title">Lesson Title</label><br>
                                            <input class="form-control" type="text" name="title" value="{{lesson.getTitle}}"><br>
                                        </div>
                                        <div class="form-group">
                                            <label for="description">Media URL</label><br>
                                            <input class="form-control" type="text" name="description" value="{{lesson.getDescription}}"><br>
                                        </div>
                                        <div class="form-group">
                                            <label for="content">Written Content</label><br>
                                            <textarea class="form-control" name="content" rows="8" cols="40">{{lesson.getContent}}</textarea>
                                        </div>
                                        <input type="hidden" name="course_id" value="{{course.getId}}"><br>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-success">Save</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </ul>
        {% endif %}
    {% endif %}
    </div>
  <!-- left column -->
  <div class="col-sm-4">
        <form class="form-control" action="/add_lesson_to_course" method="post">
            <p>Create a lesson for this course</p>
            <input type="hidden" name="course_id" value="{{course.getId}}"><br>
            <label for="title">Lesson Title</label><br>
            <input type="text" name="title" value=""><br>
            <label for="description">Media URL</label><br>
            <input type="text" name="description"><br>
            <label for="content">Written Content</label><br>
            <textarea name="content" rows="8" cols="40"></textarea>
            <button type="submit">Add Lesson</button>
        </form>
  </div>

  <div class="col-sm-4">
      <form action="/owner_courses/{{ course.getId }}" method="post">
          <label>Enroll Students</label>
          {% if students is not empty %}
          <select class="form-control" name="student_id">
              {% for student in students %}
              <option value="{{student.getId}}">{{student.getName}}</option>
              {% endfor %}
          </select>
          <button type="submit" name="button">submit</button>
          {% endif %}
      </form>
      {% if enrolled_students is not empty %}
      <ul>
          {% for student in enrolled_students  %}
          <li><a href="/../owner_students/{{student.getId}}">{{student.getName}}</a></li>
          {% endfor %}
      </ul>
      {% endif %}
  </div>
  <!-- right column -->
  <div class="col-sm-4">
      <form action="/owner_courses/{{ course.getId }}/delete" method="post">
          <input name="_method" type="hidden" value="delete">
          <button type="submit" class="btn btn-danger btn-sm" name="button">Delete Course</button>
      </form>
      <form action="/owner_courses/{{ course.getId() }}/update" method="post">
          <div class="form-group">
              <label for="title">Course Name</label>
              <input type="text" id="title" class="form-control" name="title" value="{{course.getTitle()}}" placeholder="{{course.getTitle()}}">
              <button class="btn btn-success" type="submit" name="submit">Update</button>
          </div>
      </form>
  </div>
</div>


<!-- row -->



<!-- jumbotron -->
{% endblock %}
