{% extends "base_private.html.twig" %}

{% block title %}Student Sessions{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1>{{ student.getName | e }}</h1>
    <hr>
</div>
<div class="row">
    <h3>Sessions for {{datestamp|date("M-Y")}}</h3>
    <hr>
    <div class="col-xs-6">
        <a href="/owner_sessions_for_student/{{student.getId}}?month={{datestamp|date_modify("last day of previous month")|date("n")}}&amp;year={{datestamp|date_modify("last day of previous month")|date("Y")}}">Previous Month</a>
    </div>
    <div class="col-xs-6 text-right">
        <a href="/owner_sessions_for_student/{{student.getId}}?month={{datestamp|date_modify("last day of next month")|date("n")}}&amp;year={{datestamp|date_modify("last day of next month")|date("Y")}}">Next Month</a>
    </div>
    {% if services is not empty %}
    <table class="table table-hover">
        <tr>
            <th>Date of Service</th>
            <th>Teacher</th>
            <th>Attendance</th>
            <th>Price</th>
            <th>Discount</th>
            <th>Description</th>
            <th>Duration</th>
            <th>Recurrence</th>
            <th>Notes</th>
            <th>Payment Status</th>
            <th></th>
          </tr>
        {% for service in services %}
            <tr>
                <td>{{ service.getDateOfService | e }}</td>
                <td>{{ service.getTeacher.getName | e }}</td>
                <td>{{ service.getAttendance | e }}</td>
                <td>{{ service.getPrice | e }}</td>
                <td>{{ service.getDiscount | e }}</td>
                <td>{{ service.getDescription | e }}</td>
                <td>{{ service.getDuration | e }}</td>
                <td>{{ service.getRecurrence | e }}</td>
                <td>{{ service.getNotes | e }}</td>
                {% if service.getPaidFor %}
                <td>
                    <input id="paidFor-{{service.getId}}" class="updatePaidFor btn btn-success btn-sm" value="Paid">
                </td>
                {% else %}
                <td>
                    <input id="paidFor-{{service.getId}}" class="updatePaidFor btn btn-warning btn-sm" value="Not Paid">
                </td>
                {% endif %}
                <td>
                    <a href="/owner_sessions/{{service.getId}}"><button type="button" class="btn btn-sm btn-primary" data-toggle="modal">View</button></a>
                </td>
              </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
<script src="/../js/owner_student.js"></script>
{% endblock %}
