{% extends "base_private.html.twig" %}

{% block title %}Lessons{% endblock %}

{% block content %}

<div class="jumbotron">
  <h1>{{ lesson.getTitle  | e }} </h1>
  <hr>
</div>
<div class="row">
    <div class="col-sm-8">

        {% if lesson.getCourses is not empty %}
        {% for course in lesson.getCourses %}
        <h1><a href="../owner_courses/{{ course.getId  | e }}">{{ course.getTitle  | e }}</a></h1>
        {% endfor %}
        {% endif %}
        <h1>Lesson: {{lesson.getTitle | e }}</h1>
        <div class="well" style="height: 800px;">
          <p>Teacher's notes for this lesson: {{lesson.getContent | e }}</p>
          <iframe src="{{lesson.getDescription | e }}" height="500px" width="100%" frameBorder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-sm-4">
    </div>
</div>
{% endblock %}
