{% extends "base2.html.twig" %}

{% block title %}Student Sessions{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1>{{ student.getName }}</h1>
    <hr>
</div>

<div class="row">
  <h3>Scheduled Sessions:</h3>
  <hr>

    {% if services is not empty %}
    <div class="well">
    <table class="table">
      <tr>
        <th>date_of_service</th>
        <th>teacher</th>
        <th>attendance</th>
        <th>price</th>
        <th>discount</th>
        <th>description</th>
        <th>paid_for</th>
        <th>duration</th>
        <th>recurrence</th>
        <th>notes</th>
      </tr>
      {% for service in services %}
          <tr>
            <td>{{ service.getDateOfService }}</td>
            <td>{{ service.getTeachers[0].getName }}</td>
            <td>{{ service.getAttendance }}</td>
            <td>{{ service.getPrice }}</td>
            <td>{{ service.getDiscount }}</td>
            <td>{{ service.getDescription }}</td>
            <td>{{ service.getPaidFor }}</td>
            <td>{{ service.getDuration }}</td>
            <td>{{ service.getRecurrence }}</td>
            <td>{{ service.getNotes }}</td>
          </tr>
      {% endfor %}
    </table>
    </div>
    <!-- well   -->
    {% endif %}

</div>
<!-- row     -->

    {% endblock %}
