
{% extends "base2.html.twig" %}

{% block title %}Service{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1>Session Update Page</h1>
    <hr>
</div>

<div class="row">
    <div class="col-md-4" id="teacher-info">
        <h3>Session Date: {{ service.getDateOfService }}</h3>
        <hr>
        <h4>Assigned Teachers</h4>
        {% if service.getTeachers is not empty %}
        <ul>
            {% for teacher in service.getTeachers %}
            <li> <a href="/owner_teachers/{{teacher.getId}}">{{ teacher.getName }}</a></li>
            {% endfor %}

        {% endif %}
        </ul>
        <h4>Assigned Students</h4>
        {% if service.getStudents is not empty %}
        <ul>
            {% for student in service.getStudents %}
            <li> <a href="/owner_students/{{student.getId}}">{{ student.getName }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        <hr>
    </div>
    <!-- left column -->
    <div class="col-md-8" id="session-update">
        <h3>Session Info:</h3>
        {% if service is not empty %}
        <ul>
            <li>Attendance: {{ service.getAttendance }} </li><br>
            <li>Notes: <br>{{ service.getNotes }}</li><br>
            <li>Recurrence: {{ service.getRecurrence }}</li><br>
            <li>Payment Status: {{ service.getPaidFor }}</li><br>
        </ul>
        {% endif %}
    </div>
    <!-- right column -->
</div>
<!-- row -->

    {% endblock %}
