{% extends "base.html.twig" %}

{% block title %}Lessons{% endblock %}

{% block content %}

<div class="jumbotron">
  <h1>{{ lesson.getTitle }} </h1>
  <hr>
</div>
<div class="row">
    <div class="col-sm-8">

        {% if lesson.getCourses is not empty %}
        {% for course in lesson.getCourses %}
        <h1><a href="../owner_courses/{{ course.getId }}">{{ course.getTitle }}</a></h1>
        {% endfor %}
        {% endif %}
        <h1>Lesson: {{lesson.getTitle}}</h1>
        <div class="well" style="height: 800px;">
          <p>Teacher's notes for this lesson: {{lesson.getContent}}</p>
          <iframe src="{{lesson.getDescription}}" height="500px" width="100%" frameBorder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-sm-4">
        <h3>Create another Lesson for a course</h3>
        <form class="form-control" action="/add_lesson_to_course" method="post">

            <select class="form-control" name="course_id">
                {% for course in school.getCourses %}
                    <option value="{{course.getId}}">{{course.getTitle}}</option>
                {% endfor %}
            </select>
            <label for="title">Lesson title</label><br>
            <input type="text" name="title" value=""><br>
            <label for="description">Media URL</label><br>
            <input type="text" name="description"><br>
            <label for="content">Writen Content</label><br>
            <textarea name="content" rows="8" cols="40"></textarea>
            <button type="submit">Add Lesson</button>
        </form>
    </div>
</div>
{% endblock %}
