
{% extends "base2.html.twig" %}

{% block title %}Service{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1>Session Update Page</h1>
    <hr>
</div>

<div class="row">
    <div class="col-md-4" id="teacher-info">
        <h3>Session Date: {{ service.getDateOfService }}</h3>
        <hr>
        <h4>Teachers in this session:</h4>
        {% if service.getTeachers is not empty %}
        <ul>
            {% for teacher in service.getTeachers %}
            <li> <a href="/owner_teachers/{{teacher.getId}}">{{ teacher.getName }}</a></li>
            {% endfor %}

        {% endif %}
        </ul>
        <h4>Students in this session:</h4>
        {% if service.getStudents is not empty %}
        <ul>
            {% for student in service.getStudents %}
            <li> <a href="/owner_students/{{student.getId}}">{{ student.getName }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        <hr>
    </div>
    <!-- left column -->
    <div class="col-md-8" id="session-update">
        <h3>Session Info:</h3>
        {% if service is not empty %}
        <ul>
            <li>Attendance: {{ service.getAttendance }} </li><br>
            <li>Notes: <br>{{ service.getNotes }}</li><br>
            <li>Recurrence: {{ service.getRecurrence }}</li><br>
            <li>Payment Status: {{ service.getPaidFor }}</li><br>
        </ul>
        <hr>

        <!-- NOTE UNTESTED UNTESTE UNTESTED -->
        <div class="well">
          <form action="/owner_sessions/{{ service.getId }}" method="post">
              <input name="_method" type="hidden" value="patch" required>
              <div class="form-group">
                <label for="date_of_service">Starting Date:</label>
                <input type="datetime-local" name="date_of_service" value="{{ service.getDateOfService }}"><br>
                <label for="recurrence">Recurrence:</label>
                <input type="text" name="recurrence" value="{{ service.getRecurrence }}"><br>
                <label for="attendance">Attendance:</label>
                <select class="form-control" name="attendance">

                    <option value="Scheduled">Scheduled</option>
                    <option value="Attended">Attended</option>
                    <option value="SCWN">Student Canceled W/ Notice</option>
                    <option value="SCWON">Student Canceled W/O Notice</option>
                    <option value="NS">No Show</option>
                    <option value="TC">Teacher Canceled</option>

                </select>
                <label for="duration">Duration:</label>
                <input type="number" name="duration" value="40"><br>
                <label class="control-label" for="new_notes">Notes</label>
                <textarea class="form-control" cols="30" id="message" name="new_notes" rows="10"></textarea>
              </div>
              <div class="form-group">
                  <button type="submit" class="btn btn-info btn-sm" name="button">Submit</button>
              </div>
          </form>
        </div>
        {% endif %}
    </div>
    <!-- right column -->
</div>
<!-- row -->

    {% endblock %}
