<table class="table table-hover">
    <thead>
        <th>Name</th>
        <th>Instrument</th>
        <th>Students</th>
        <th>Teaching Courses</th>
    </thead>
    <tbody>
        {% for teacher in teachers %}
        <tr>
            <td class="col-xs-3">
                <a href="/teacher/{{teacher.getId | e }}">{{teacher.getName | e }}</a>
            </td>
            <td class="col-xs-2">
                {{teacher.getInstrument | e }}
            </td>
            <td class="col-xs-2">
                <ul>
                    {% for student in teacher.getStudents %}
                        <li><a href="/student/{{student.getId}}">{{student.getName}}</a></li>
                    {% endfor %}
                </ul>
            </td>
            <td class="col-xs-3">
                <ul>
                    {% for course in teacher.getCourses %}
                        <li><a href="/course/{{course.getId}}">{{course.getTitle}}</a></li>
                    {% endfor %}
                </ul>
            </td>
            <!-- NOTE ONLY Owner can Update and Delete -->
            {% if (role == 'owner') %}
            <td class="col-xs-1">
              <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#update_teacher_{{teacher.getId | e }}">Update</button>
            </td>
            <td class="col-xs-1">
              <form action="/teacher/teacher_termination/{{ teacher.getId  | e }}" method="post">
                  <input name="_method" type="hidden" value="delete">
                  <button type="submit" class="btn btn-danger btn-sm"  name="button">delete</button>
              </form>
            </td>
            {% endif %}
        </tr>



        <!-- Update Modal -->
        <div id="update_teacher_{{teacher.getId | e }}" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
              <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Update Teacher: {{teacher.getName | e }}</h4>
                    </div>
                    <form action="/teacher/{{teacher.getId | e }}/update" method="post">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="teacher_name">Name</label>
                                        <input type="text" id="teacher_name" class="form-control" name="teacher_name" value="{{teacher.getName | e }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="instrument">Instruments</label>
                                        <input type="text" id="instrument" class="form-control" name="instrument" value="{{teacher.getInstrument | e }}">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="submit" class="btn btn-success">Save</button>
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </tbody>
</table>
